@import "./colors.scss";
@import "./fonts.css";
@import "./theme.css";

@keyframes background-animation {
  from {
    background: rgb(248, 249, 250, 0);
  }
  to {
    background: rgb(248, 249, 250, 1);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nanum Gothic", sans-serif !important;
  font-size: 12px;
  line-height: 1.4;
  word-break: keep-all;
  color: #575757;
  animation: background-animation 1000ms ease-in forwards;
  overscroll-behavior: none;
  background: rgb(249, 249, 249);
  width: 100vw;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    width: 6px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 10px;
  }
}

.ant-card {
  font-family: "Nanum Gothic", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif !important;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
  color: unset;
}

input {
  border: 0;
  &:focus {
    outline: none;
  }
}

button {
  background: none;
  border: none;
  &:focus {
    outline: 0 !important;
  }
  cursor: pointer;
  --ripple-background: black;
  --ripple-opacity: 0.3;
  --ripple-duration: 600ms;
}

#__next {
  display: flex;
  flex-direction: column;
}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

*::-webkit-scrollbar-track {
  background: #fcfcfa;
}

*::-webkit-scrollbar-thumb {
  background-color: #ebe9e6;
  border-radius: 20px;
}

button {
  padding: 0;
  cursor: pointer;
  transition: all 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:disabled {
  cursor: default;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  outline: none;
  border: none;
}
